body {
	height: 100%;
	background-color: #2274a5;
	text-align: center;
	color: white;
	font-family: 'Righteous', cursive;
}

.navbar {
	display: block;
	align-content: center;
	text-align: center;
	margin: auto;
}

#stageDisplay {
	background: #00cc66;
}

#stageOver {
	margin-top: 5px;
}

h3:hover,
#startOver {
	border: 2px solid #f75c03;
	background: #f1c40f;
	margin: 10px auto;
	color: #d90368;
}

.text-responsive {
	font-size: calc(100% + 1vw + 1vh);
}

@media (max-width: 709px) {
}
